legacy-peer-deps=true
fetch-timeout=600000
fetch-retries=5
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
maxsockets=10
progress=false
loglevel=error
prefer-offline=true
audit=false
fund=false
